@use "../../styles/layouts/responsif" as responsif;

.header {
    padding: 0 3rem;
    min-width: 7rem;
    max-width: 100%;
    margin: 0 auto;
    gap: 44rem;
    min-height: 7rem;
    @include responsif.xs {
        padding: 0 1.5rem;
        gap: 3rem;
    }
    @include responsif.sm {
        padding: 0 2rem;
        gap: 22rem;
    }
    @include responsif.md {
        padding: 0 3rem;
        gap: 33rem;
    }
    img {
        height: 4.25rem;
        @include responsif.xs {
            height: 2.93006rem;
        }
    }
    ul {
        display: flex;
        gap: 3.5rem;
    }
}
