@use "../../styles/layouts/responsif" as responsif;

.header {
    width: 70%;
    margin: 0 auto;
    min-height: 7rem;
    @include responsif.xs {
        width: 90%;
    }
    @include responsif.sm {
        width: 80%;
    }
    @include responsif.md {
        width: 70%;
    }
    img {
        height: 4.25rem;
        @include responsif.xs {
            height: 2.93006rem;
        }
    }
    ul {
        gap: 3.5rem;
        @include responsif.xs {
            gap: 1.62rem;
        }
    }
}
