@use "../../styles/layouts/responsif" as responsif;

.starRating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    i {
        font-size: 1.5rem;
        @include responsif.xs {
            font-size: 0.8rem;
        }
    }
}
