@use "../../styles/layouts/responsif" as responsif;

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 4.12rem 0 1.8rem 0;
    margin-top: 1.88rem;
    z-index: 100;
    gap: 1.78rem;
    @include responsif.xs {
        gap: 0.5rem;
        padding: 4.12rem 0 3.62rem 0;
    }
    .footerLogo {
        gap: 0.5rem;
    }
    p {
        font-size: 1.5rem;
        @include responsif.xs {
            font-size: 0.75rem;
        }
    }
}
