@use "./styles/layouts/responsif" as responsif;

.pageLayout {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 7rem 1fr 10rem;
    height: 100vh;
    margin: 0 auto;
    .header {
        width: 70%;
        grid-area: header;
        @include responsif.xs {
            width: 90%;
        }
        @include responsif.sm {
            width: 80%;
        }
        @include responsif.md {
            width: 70%;
        }
    }
    .main {
        width: 70%;
        grid-area: main;
        @include responsif.xs {
            width: 90%;
        }
        @include responsif.sm {
            width: 80%;
        }
        @include responsif.md {
            width: 70%;
        }
    }
    .footer {
        grid-area: footer;
        width: 100%;
    }
}
